div {
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    background-color: rgb(232, 232, 213);
    border: 2px solid rgb(150, 30, 16);
    box-shadow: 2px 5px rgb(137, 74, 74);
    border-radius: 30px;
}

#foto {
    width: 100px;
    float: left;
    border-radius: 50px;
    border: 2px solid black;
}

body {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right, rgb(154, 89, 89), rgb(165, 50, 50));

}

h1, h2, h3{
    text-shadow: 2px 5px rgb(231, 223, 223);
}